body {
  background: black;
}

article {
  background: whitesmoke;
  padding: 5%;
  display: flex;
  flex-direction: column;
 
}
.icone-fleche {
  width: 30px;
  margin-bottom: 20px;
}


aside {
  margin: 2%;
  margin-top: 20%;
  margin-left: 5%;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
}
.conteneur {
  float: right;
  margin: 10px;
  margin-left: 20px;
}

.ballast {
  float: left;
  margin: 10px;
  margin-right: 20px;
}

p {
  text-align: justify;
}

.div-cargo {
  display: none;
}

.cargo-solaire {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.conclusion {
  clear: both;
  margin-top: 20px;
}

.auteurs {
  position: absolute;
  font-size: 12px;
  color: gray;
  padding: 20px;
}

@media (min-width: 600px) {
  .div-cargo {
    display: block;
    width: 200px;
  }
}


@media (min-width: 768px) {
  article {
    flex-direction: row;
    flex-direction: row;
    margin: 10%;
  }

  .lien-fleche {
  position: absolute;
  transform: translateX(-45px);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.icone-fleche {
  height: 80%;
  width: 80%;
  justify-content: center;

}

@media (min-width: 1210px) {
  .ballast {
    margin-bottom: 30px;
  }
}
@media (min-width: 1210px) {
  .sonore {
    clear: both;
  }
}
