.article-presentation-conteneur {
  position: relative;
  display: flex;
  justify-content: center;
}

.article-news {
  position: absolute;
  top: 5%;
  left: 20%;
  font-size: 3em;
  letter-spacing: 10px;
}

.suiv {
  position: absolute;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: bold;
  top: 5%;
  right: 2%;
  z-index: 1;
  cursor: pointer;
}

.suiv:hover {
  text-decoration: underline;
}

.prec {
  position: absolute;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: bold;
  top: 5%;
  left: 2%;
  z-index: 1;
  cursor: pointer;
}

.prec:hover {
  text-decoration: underline;
}

.article-presentation-content {
  display: relative;
  height: auto;
}

.article-presentation-image {
  opacity: 0.6;
  width: 100%;
  max-height: 200px;
  z-index: -1;
}

.article-head {
  position: absolute;
  top: 40%;
  left: 10%;
  font-weight: bold;
}

.article-description {
  position: absolute;
  width: 40%;
  font-size: 0.8em;
  bottom: 20%;
  left: 5%;
}

.article-link {
  position: absolute;
  bottom: 20%;
  left: 60%;
  width: 30%;
  height: 40px;
  border: 3px solid white;
  background: none;
  cursor: pointer;
}

.article-link a {
  display: block;
  padding-top: 7px;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.article-link:hover {
  background-color: white;
}

.article-link:hover a {
  color: black;
}

.article-here.is-hidden {
  display: none;
}

.prec.is-hidden {
  display: none;
}

.suiv.is-hidden {
  display: none;
}

@media screen and (min-width: 400px) {
  .article-presentation-image {
    max-width: 907px;
    height: auto;
    max-height: 485px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .article-head {
    font-size: 1.2em;
  }
  .article-description {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1000px) {
  .article-news {
    font-size: 5em;
  }

  .article-head {
    font-size: 1.6em;
  }
  .article-description {
    font-size: 1.3em;
  }
}
