body {
  background: lightgray;
}

article {
  background: white;
  margin: 10%;
  margin-right: 5%;
  padding: 5%;
  display: flex;
}

aside {
  margin: 2%;
  margin-top: 10%;
  margin-left: 5%;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.auteurs {
  position: absolute;
  font-size: 12px;
  color: gray;
  padding: 20px;
}
