body {
  background-color: black;
}

p {
  text-align: justify;
}

.article2 {
  background: whitesmoke;
  padding: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.icone-fleche {
  width: 30px;
  margin-bottom: 20px;
}
.article2-contenu {
  display: flex;
  flex-direction: column;
}

.article2-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.article2-secondary-title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
}

.article2-wrapper {
  display: flex;
  flex-direction: column;
}

.article2-image-content {
  width: 100%;
  padding: 15px 0px;
}

.article2-auteur {
  font-size: 12px;
  color: gray;
  padding: 30px 0px 50px 30px;
}

.article2-twitter {
  width: 100%;
}

@media (min-width: 768px) {
  .article2 {
    flex-direction: row;
    margin: 10%;
    padding: 5% 0 5% 5%;
  }

  .article2-twitter {
    padding: 0px 30px;
  }

  .lien-fleche {
    position: absolute;
    transform: translateX(-45px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .icone-fleche {
    height: 80%;
    width: 80%;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .article2-wrapper {
    flex-direction: row;
  }
  .article2-wrapper:nth-child(4) {
    flex-direction: row-reverse;
  }
  .article2-image-content {
    width: 20vw;
    padding: 5%;
  }
}
