* {
  box-sizing: border-box;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  text-align: center;
}

.description-image {
  max-width: 100%;
}

.description-image-content {
  max-width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.description-text {
  font-size: 30px;
  text-transform: uppercase;
  padding: 100px 0;
}

.letter-e {
  text-transform: none;
  font-size: 40px;
  color: rgb(0, 128, 0);
}
@media screen and (min-width: 768px) {
  .image-noise {
    display: none;
  }
  .description {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .image-design {
    width: 60%;
  }

  .description-image-content {
    border: none;
    width: 100%;
  }

  .description-text {
    position: absolute;
    left: 10%;
  }

  .text-design {
    top: 5%;
  }

  .text-noise {
    top: 35%;
  }

  .text-eco {
    bottom: 5%;
  }
}
