.section-technique {
  display: flex;
  justify-content: center;
}

.fiche-tech {
  width: 100%;
}
.technique {
  width: 95%;
}

.tech-flex-img {
  display: none;
}

.technique-flexbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid white;
}

.technique-flexbox:nth-child(12) {
  border-bottom: none;
}

.technique-title-caract {
  font-weight: bold;
  margin: 3%;
}

.technique-title-number {
  margin: 3%;
}

.technique-h2 {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .technique {
    display: flex;
    margin: 0 8%;
    justify-content: space-around;
  }

  .fiche-tech {
    width: 80%;
  }

  .technique-flexbox-img {
    width: 80%;
    display: flex;
  }

  .tech-flex-img {
    display: flex;
    width: 80%;
    margin: auto;
  }
}
