.footer {
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
}

.lien {
  text-decoration: none;
  color: white;
}
.footerbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.footerlogo {
  display: inline-block;
  width: 30px;
}

.footerlogo img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: column-reverse;
  }

  .footerbox {
    flex-direction: row;
    justify-content: center;
    height: auto;
  }

  .footerlogo {
    width: 40px;
  }

  .footerbox li {
    margin: 0 5%;
  }

  .footerbox .footerlogo {
    margin: 0 3%;
  }
}
