.form-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.titre-commande {
  font-size: 35px;
}
.form-section h2 {
  text-align: center;
}
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.alert-ok {
  display: none;
  width: 300px;
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  color: green;
}

.alert-ok span {
  display: inline-block;
  text-align: center;
  margin: 30px 60px;
  font-weight: bold;
}

.alert-wrong {
  display: none;
  width: 300px;
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
}

.alert-wrong span {
  display: inline-block;
  text-align: center;
  margin: 30px 40px;
  font-weight: bold;
}

form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

form h1 {
  align-self: center;
}

.info-perso {
  margin-top: 40px;
}

.info-perso input {
  color: white;
  width: 100%;
  padding-left: 10px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  height: 40px;
  margin-top: 10px;
  background: none;
}

.mail {
  position: relative;
  margin-top: 30px;
}
.caracteristiques {
  margin-top: 20px;
}

.puissance-moteur {
  color: #c4c4c48a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  border-bottom: 3px solid #c4c4c4b2;
  cursor: pointer;
}

.puissance-moteur.moteur-selected {
  color: white;
  font-size: 1.03em;
  border-bottom: 3px solid white;
}

.color-choice {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colors {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.colors .color-li {
  position: relative;
  z-index: 0;
  display: flex;
  width: 15%;
  max-width: 50px;
  cursor: pointer;
}

.color-sample {
  width: 100%;
  margin: auto;
}

.color-description {
  position: absolute;
  font-size: 0.8em;
  left: 0;
  top: 55px;
  width: 100%;
}

.is-selected {
  border: 2px solid #c4c4c4b2;
  border-radius: 50%;
}

.is-selected .color-description {
  top: 52px;
  left: -3px;
}

.help-text {
  opacity: 0;
  transform: scale(0);
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 10px;
  color: rgba(255, 0, 0, 0.815);
  transition: transform 0.3s, opacity 0.3s;
}

.is-valid input {
  border-bottom: 1px solid green;
}

.is-not-valid input {
  border-bottom: 1px solid rgba(255, 0, 0, 0.815);
}

.is-not-valid .help-text {
  transform: none;
  opacity: 1;
}

.invalid-symbole {
  visibility: hidden;
  position: absolute;
  width: 20px;
}

.valid-symbole {
  visibility: hidden;
  position: absolute;
  width: 20px;
}

.symbole-mail {
  right: 5%;
  top: 25%;
}

.is-valid .valid-symbole {
  visibility: visible;
}

.is-not-valid .invalid-symbole {
  visibility: visible;
}

.prix-total {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.prix {
  font-size: 24px;
  font-weight: bold;
}

.color-img-small-device {
  z-index: -1;
  display: block;
  position: relative;
  width: 200px;
  height: 150px;
  margin-top: 70px;
  align-self: center;
}

.color-img-big-device {
  display: none;
}

.boat-color {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1.5s;
}

.boat-color.visible {
  opacity: 1;
}

.boutton-commande {
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: 4px solid white;
  background: none;
  color: white;
  align-self: center;
  cursor: pointer;
}

.boutton-commande:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 1024px) {
  .form-section {
    justify-content: space-around;
    align-items: center;
  }

  .color-img-small-device {
    display: none;
  }

  .color-img-big-device {
    display: block;
    position: relative;
    width: 500px;
    height: 150px;
    margin-left: 30px;
  }

  .boat-color-big {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.5s;
  }

  .boat-color-big.visible {
    opacity: 1;
  }

  .prix-total {
    margin-top: 50px;
  }

  .color-description {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .color-li:hover .color-description {
    opacity: 1;
  }

  .is-selected .color-description {
    opacity: 1;
  }
}
