.form-section {
  position: relative;
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
}

.form-overlay {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.alert-ok {
  display: none;
  width: 300px;
  border: 2px solid green;
  background-color: #d4edda;
  color: green;
  border-radius: 5px;
}

.alert-ok span {
  display: inline-block;
  text-align: center;
  margin: 50px 10px;
}

.alert-wrong {
  display: none;
  width: 300px;
  border: 2px solid red;
  background-color: #f8d7da;
  color: red;
  border-radius: 5px;
}

.alert-wrong span {
  display: inline-block;
  text-align: center;
  margin: 50px 10px;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.info-perso {
  display: flex;
  flex-direction: column;
}

.info-perso input {
  width: 100%;
  padding-left: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  height: 30px;
  margin-top: 10px;
}

.name {
  position: relative;
}
.mail {
  position: relative;
}
.caracteristiques {
  margin-top: 10px;
}
select {
  position: relative;
}

.select-div {
  width: 60%;
  min-width: 200px;
  position: relative;
}
.select-puissance {
  width: 100%;
  padding-left: 10px;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  margin-top: 10px;
}

.color-choice {
  margin-top: 10px;
}
.colors {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.colors div {
  width: 10%;
  height: 20px;
  border: 1px solid black;
}

.option-checkbox {
  margin-top: 10px;
}

.option-checkbox:nth-child(2) {
  margin-top: 10px;
}

.checkbox {
  margin-top: 10px;
}

.help-text {
  opacity: 0;
  transform: scale(0);
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 3px;
  color: red;
  transition: transform 0.3s, opacity 0.3s;
}

.is-valid input {
  border: 2px solid green;
}
.is-valid select {
  border: 2px solid green;
}

.is-not-valid input {
  border: 2px solid red;
}

.is-not-valid select {
  border: 2px solid red;
}

.is-not-valid .help-text {
  transform: none;
  opacity: 1;
}

.invalid-symbole {
  visibility: hidden;
  position: absolute;
  width: 20px;
}

.valid-symbole {
  visibility: hidden;
  position: absolute;
  width: 20px;
}

.symbole-name {
  right: 0px;
  top: 30%;
}

.symbole-mail {
  right: 0px;
  top: 30%;
}

.symbole-select {
  top: 28%;
  right: -10%;
}

.is-valid .valid-symbole {
  visibility: visible;
}

.is-not-valid .invalid-symbole {
  visibility: visible;
}

.prix-total {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.submit {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #0069d9;
  border-radius: 3px;
  background-color: #0069d9;
  color: white;
  align-self: center;
}
