.form-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.alert-ok {
  display: none;
  width: 300px;
  border: 2px solid green;
  background-color: #d4edda;
  color: green;
  border-radius: 5px;
}

.alert-ok span {
  display: inline-block;
  text-align: center;
  margin: 50px 10px;
}

.alert-wrong {
  display: none;
  width: 300px;
  border: 2px solid red;
  background-color: #f8d7da;
  color: red;
  border-radius: 5px;
}

.alert-wrong span {
  display: inline-block;
  text-align: center;
  margin: 50px 10px;
}

form {
  width: 70%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.info-perso {
  display: flex;
  flex-direction: column;
}

.info-perso input {
  width: 100%;
  padding-left: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  height: 40px;
  margin-top: 10px;
}

.name {
  position: relative;
}
.mail {
  position: relative;
}
.caracteristiques {
  margin-top: 10px;
}
select {
  position: relative;
}

.select-div {
  width: 60%;
  min-width: 200px;
  position: relative;
}
.select-puissance {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  margin-top: 10px;
}

.color-choice {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.colors {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.colors .color-li {
  display: flex;
  position: relative;
  width: 20%;
  max-width: 50px;
  cursor: pointer;
}

.color-sample {
  width: 100%;
  margin: auto;
}

.color-description {
  position: absolute;
  font-size: 0.8em;
  left: -10px;
  top: 60px;
  width: 200%;
}
.option-checkbox {
  margin-top: 30px;
}

.is-selected {
  border: 3px solid rgb(11, 177, 163);
  border-radius: 50%;
}

.is-selected .color-description {
  top: 57px;
  left: -13px;
}

.option-checkbox:nth-child(2) {
  margin-top: 10px;
}

.checkbox {
  margin-top: 10px;
}

.help-text {
  opacity: 0;
  transform: scale(0);
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 3px;
  color: red;
  transition: transform 0.3s, opacity 0.3s;
}

.is-valid input {
  border: 2px solid green;
}
.is-valid select {
  border: 2px solid green;
}

.is-not-valid input {
  border: 2px solid red;
}

.is-not-valid select {
  border: 2px solid red;
}

.is-not-valid .help-text {
  transform: none;
  opacity: 1;
}

.invalid-symbole {
  visibility: hidden;
  position: absolute;
  width: 20px;
}

.valid-symbole {
  visibility: hidden;
  position: absolute;
  width: 20px;
}

.symbole-name {
  right: 5%;
  top: 30%;
}

.symbole-mail {
  right: 5%;
  top: 30%;
}

.symbole-select {
  top: 28%;
  right: -15%;
}

.is-valid .valid-symbole {
  visibility: visible;
}

.is-not-valid .invalid-symbole {
  visibility: visible;
}

.prix-total {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.submit {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #0069d9;
  border-radius: 3px;
  background-color: #0069d9;
  color: white;
  align-self: center;
}

.colors-img {
  display: none;
}

@media screen and (min-width: 1024px) {
  .form-section {
    justify-content: space-around;
    align-items: center;
  }

  .colors-img {
    display: block;
    position: relative;
    width: 500px;
    height: 150px;
    margin-left: 30px;
  }

  .boat-color {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.5s;
  }

  .boat-color.visible {
    opacity: 1;
  }

  .color-description {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .color-li:hover .color-description {
    opacity: 1;
  }

  .is-selected .color-description {
    opacity: 1;
  }
}
