html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

section {
  padding-top: 50px;
}

.section-article {
  margin-bottom: 10px;
}

.description {
  padding-top: 0px;
}

button {
  letter-spacing: 10px;
}
