.move.is-moved {
  transform: none;
  opacity: 1;
}

.description-text {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.description-image-content {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.techno-img-1 {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.techno-text-1 {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.techno-img-2 {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.techno-text-2 {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.techno-img-3 {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.techno-text-3 {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.fiche-tech {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.formCommande {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.section-article {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

@media screen and (min-width: 768px) {
  .techno-img-1 {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  .techno-text-1 {
    transform: translateX(30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  .techno-img-2 {
    transform: translateX(30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  .techno-text-2 {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  .techno-img-3 {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  .techno-text-3 {
    transform: translateX(30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }

  .technique-tab {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  .technique-img {
    transform: translateX(30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
}

@media screen and (min-width: 970px) {
  .text-design {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }

  .text-noise {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
    transition-delay: 0.3s;
  }

  .text-eco {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
    transition-delay: 0.6s;
  }

  .description-image-content {
    transform: translateX(60px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
}

@media screen and (min-width: 1024px) {
  .form-commande {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }

  .color-img-big-device {
    transform: translateX(30px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
}
